In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

In [2]:
dataset= pd.read_csv('speed-dating_csv.csv')

In [3]:
dataset.head(5)

,has_null,wave,gender,age,age_o,d_age,d_d_age,race,race_o,samerace,...,d_expected_num_interested_in_me,d_expected_num_matches,like,guess_prob_liked,d_like,d_guess_prob_liked,met,decision,decision_o,match
0,0,1,female,21.0,27.0,6,[4-6],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,0,0
1,0,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,5.0,[6-8],[5-6],1.0,1,0,0
2,1,1,female,21.0,22.0,1,[0-1],asian/pacific islander/asian-american,asian/pacific islander/asian-american,1,...,[0-3],[3-5],7.0,NaN,[6-8],[0-4],1.0,1,1,1
3,0,1,female,21.0,23.0,2,[2-3],asian/pacific islander/asian-american,european/caucasian-american,0,...,[0-3],[3-5],7.0,6.0,[6-8],[5-6],0.0,1,1,1
4,0,1,female,21.0,24.0,3,[2-3],asian/pacific islander/asian-american,latino/hispanic american,0,...,[0-3],[3-5],6.0,6.0,[6-8],[5-6],0.0,1,1,1

In [4]:
for i in dataset.columns:
    print(i)

has_null
wave
gender
age
age_o
d_age
d_d_age
race
race_o
samerace
importance_same_race
importance_same_religion
d_importance_same_race
d_importance_same_religion
field
pref_o_attractive
pref_o_sincere
pref_o_intelligence
pref_o_funny
pref_o_ambitious
pref_o_shared_interests
d_pref_o_attractive
d_pref_o_sincere
d_pref_o_intelligence
d_pref_o_funny
d_pref_o_ambitious
d_pref_o_shared_interests
attractive_o
sinsere_o
intelligence_o
funny_o
ambitous_o
shared_interests_o
d_attractive_o
d_sinsere_o
d_intelligence_o
d_funny_o
d_ambitous_o
d_shared_interests_o
attractive_important
sincere_important
intellicence_important
funny_important
ambtition_important
shared_interests_important
d_attractive_important
d_sincere_important
d_intellicence_important
d_funny_important
d_ambtition_important
d_shared_interests_important
attractive
sincere
intelligence
funny
ambition
d_attractive
d_sincere
d_intelligence
d_funny
d_ambition
attractive_partner
sincere_partner
intelligence_partner
funny_partner
ambition_partner
shared_interests_partner
d_attractive_partner
d_sincere_partner
d_intelligence_partner
d_funny_partner
d_ambition_partner
d_shared_interests_partner
sports
tvsports
exercise
dining
museums
art
hiking
gaming
clubbing
reading
tv
theater
movies
concerts
music
shopping
yoga
d_sports
d_tvsports
d_exercise
d_dining
d_museums
d_art
d_hiking
d_gaming
d_clubbing
d_reading
d_tv
d_theater
d_movies
d_concerts
d_music
d_shopping
d_yoga
interests_correlate
d_interests_correlate
expected_happy_with_sd_people
expected_num_interested_in_me
expected_num_matches
d_expected_happy_with_sd_people
d_expected_num_interested_in_me
d_expected_num_matches
like
guess_prob_liked
d_like
d_guess_prob_liked
met
decision
decision_o
match

        WWMMKLNNDN

In [5]:
# using association rule learning on the basis of race of opposite genders

In [6]:
Race_data= dataset[['race','race_o']]

In [7]:
Race_data

,race,race_o
0,asian/pacific islander/asian-american,european/caucasian-american
1,asian/pacific islander/asian-american,european/caucasian-american
2,asian/pacific islander/asian-american,asian/pacific islander/asian-american
3,asian/pacific islander/asian-american,european/caucasian-american
4,asian/pacific islander/asian-american,latino/hispanic american
...,...,...
8373,european/caucasian-american,latino/hispanic american
8374,european/caucasian-american,other
8375,european/caucasian-american,latino/hispanic american
8376,european/caucasian-american,asian/pacific islander/asian-american
8377,european/caucasian-american,asian/pacific islander/asian-american

In [8]:

lists=[]
for i in range (0,8378):
    lists.append([str(Race_data.values[i,j])for j in range(0,2)])

In [9]:
counter =0

for i in lists:
    print(i)
    counter+=1
    if counter ==10:
        break

['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'asian/pacific islander/asian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'latino/hispanic american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']
['asian/pacific islander/asian-american', 'european/caucasian-american']

In [10]:
# now we have  a list of lists with required race and partner race

In [11]:
from apyori import apriori

In [12]:
# estimating minimum support for the race used at least 80 times in 10 days
minimumsupport= (80*10)/8378
minimumsupport

0.095488183337312

In [13]:
rules = apriori(lists)

In [14]:
results = list(rules)
results

[RelationRecord(items=frozenset({'asian/pacific islander/asian-american'}), support=0.41537359751730724, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'asian/pacific islander/asian-american'}), confidence=0.41537359751730724, lift=1.0)]),
 RelationRecord(items=frozenset({'european/caucasian-american'}), support=0.802697541179279, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'european/caucasian-american'}), confidence=0.802697541179279, lift=1.0)]),
 RelationRecord(items=frozenset({'latino/hispanic american'}), support=0.15230365242301266, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'latino/hispanic american'}), confidence=0.15230365242301266, lift=1.0)]),
 RelationRecord(items=frozenset({'other'}), support=0.11947958940081164, ordered_statistics=[OrderedStatistic(items_base=frozenset(), items_add=frozenset({'other'}), confidence=0.11947958940081164, lift=1.0)]),
 RelationRecord(items=frozenset({'european/caucasian-american', 'asian/pacific islander/asian-american'}), support=0.2604440200525185, ordered_statistics=[OrderedStatistic(items_base=frozenset({'asian/pacific islander/asian-american'}), items_add=frozenset({'european/caucasian-american'}), confidence=0.6270114942528735, lift=0.7811304533606802), OrderedStatistic(items_base=frozenset({'european/caucasian-american'}), items_add=frozenset({'asian/pacific islander/asian-american'}), confidence=0.3244609665427509, lift=0.7811304533606802)])]

In [15]:
for item in results:

    # first index of the inner list
    # Contains base item and add item
    pair = item[0] 
    items = [x for x in pair]
    print("Rule: " + items[0] + "     "+" race from a -> b " )

    #second index of the inner list
    print("Support: " + str(item[1]))

    #third index of the list located at 0th
    #of the third index of the inner list

    print("Confidence: " + str(item[2][0][2]))
    print("Lift: " + str(item[2][0][3]))
    print("=====================================")

Rule: asian/pacific islander/asian-american      race from a -> b
Support: 0.41537359751730724
Confidence: 0.41537359751730724
Lift: 1.0
=====================================
Rule: european/caucasian-american      race from a -> b
Support: 0.802697541179279
Confidence: 0.802697541179279
Lift: 1.0
=====================================
Rule: latino/hispanic american      race from a -> b
Support: 0.15230365242301266
Confidence: 0.15230365242301266
Lift: 1.0
=====================================
Rule: other      race from a -> b
Support: 0.11947958940081164
Confidence: 0.11947958940081164
Lift: 1.0
=====================================
Rule: european/caucasian-american      race from a -> b
Support: 0.2604440200525185
Confidence: 0.6270114942528735
Lift: 0.7811304533606802
=====================================

In [18]:
print ('Choose your natural race:')

print('''

1.asian/pacific
2.islander/asian-american
3.european
4.hispanic american
5.caucasian-american 
6.latino

''')


x= input('Your race number:')

if x ==1:
    print('you should enjoy date with a islander/asian-american')
    
if x==2:
    print('you should enjoy date with a asian')
if x==3:
    print('you should enjoy date with  a caucasian-american')
    
if x==4:
    print('you should enjoy date with a latino')
    
if x==5:
    print('you should enjoy date with a eurpeon')
    
if x==6:
    print('you should enjoy date with  a islander')

Choose your natural race:


1.asian/pacific
2.islander/asian-american
3.european
4.hispanic american
5.caucasian-american
6.latino


Your race number:2

In [19]:
if x ==1:
    print('you should enjoy date with a islander/asian-american')
    
if x==2:
    print('you should enjoy date with a asian')
if x==3:
    print('you should enjoy date with  a caucasian-american')
    
if x==4:
    print('you should enjoy date with a latino')
    
if x==5:
    print('you should enjoy date with a eurpeon')
    
if x==6:
    print('you should enjoy date with  a islander')